<%- include('../layouts/header.ejs') -%>

<h3 class="fw-bold text-center mt-2 mb-3">Admin Login</h3>

<% if(typeof message !== 'undefined'){ %>
<h6 class="text-danger text-center col-8"><%= message %></h6>
<% } %>
<div class="text-center">
  <center>
    

    <div class="container mt-5"> <!-- Added container class -->
      <div class="row justify-content-center"> <!-- Added row and justify-content-center classes -->
        <div class="col-lg-6"> <!-- Changed col-6 to col-lg-6 for responsiveness -->
          <div class="card transparent-card"> <!-- Added card and transparent-card classes -->
            <div class="card-body"> <!-- Added card-body class -->
              <form action="" method="POST"> <!-- Removed text-center and col-6 classes -->
                <div class="mb-3">
                  <input type="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="mb-3">
                  <input type="password" name="password" class="form-control" placeholder="Enter Password" />
                </div>
                <div class="text-end">
                  <input type="submit" class="btn btn-info" value="Login" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
    
</center>

</div>

<%- include('../layouts/footer.ejs') -%>
