body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/7c6f4ca03dca532f37e1c190c9946731.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}