<%- include('../layouts/header.ejs') -%>

<div class="text-end">
    <a href="/logout" class="btn btn-danger mt-2 mb-2 me-2">Logout</a>
</div>
<h2 class="fwbold text-center">Welcome on Home</h2>


<%- include('../layouts/footer.ejs') -%>
