<%- include('../layouts/header.ejs') -%>

<div class="text-end">
    <a href="/logout" class="btn btn-danger mt-2 mb-2 me-2">Logout</a>
</div>

<div class="moving-container">
    <h1 class="fw-bold text-center changing-colors">Welcome  Home</h1>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="/assets/675610-h.webp" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h5 class="card-title">Dumbo</h5>
          <p class="card-text">Dumbo is a 2019 American fantasy period adventure film directed by Tim Burton from a screenplay written by Ehren Kruger.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="/assets/02eb924242f4864ebd862ab7b62dd20994028f8cbd845c1b1cd9e44d5d48c616.jpg" class="card-img-top" alt="Image 2">
        <div class="card-body">
          <h5 class="card-title">Ferdinand</h5>
          <p class="card-text">Ferdinand is a 2017 American animated adventure comedy film produced by Blue Sky Studios and distributed by 20th Century Fox.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="/assets/0be03cd19aa100e1bde30c69b45f29ae4148a88b8e706dfa99f8193129e38ecd.jpg" class="card-img-top" alt="Image 3">
        <div class="card-body">
          <h5 class="card-title">Finding Nemo</h5>
          <p class="card-text">Finding Nemo is a 2003 American animated comedy-drama adventure film[2] produced by Pixar Animation Studios for Walt Disney Pictures.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer.ejs') -%>

